<section>
    <div class="row">
        <div class="col-sm-12">
            <p>&nbsp;</p>
            <h2>CV File</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group" id="resume-file-group">
                <label for="resume-file">Upload Your Resume (Optional)</label>
                <input type="file" id="resume-file">
                <p class="help-block">Optionally upload your resume for employers to view. Max. file size: 64 MB.</p>
            </div>
        </div>
    </div>
</section>
