<div class="fm-container">
    <!-- Menu -->
    <div class="menu">
        <div class="button-close text-right">
            <a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="post-a-job.html">Post a job</a></li>
            <li><a href="candidates.html">Candidates</a></li>
            <li><a href="post-a-resume.html">Post a Resume</a></li>
            <li><a href="#">Pages</a>
                <ul>
                    <li><a href="job-details.html">Job Details</a></li>
                    <li><a href="resume.html">Resume</a></li>
                    <li><a href="company.html">Company</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="post.html">Single Post</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="options.html">Options</a></li>
                </ul>
            </li>
            <li><a class="link-register" ng-click="vm.register()">Register</a></li>
            <li><a class="link-login" ng-click="vm.loginOrLogout()">{{ ::vm.loginOrLogoutLabel }}</a></li>
        </ul>
    </div>
    <!-- end Menu -->
</div>
