<div>
    <slides></slides>

    <recent-jobs></recent-jobs>

    <!--<ng-include src="'/js/partial/_stats.html'"></ng-include>-->

    <ng-include src="'/js/partial/_how-it-works.html'"></ng-include>

    <!--<ng-include src="'/js/partial/_pricing.html'"></ng-include>-->

    <!--<ng-include src="'/js/partial/_testimonials.html'"></ng-include>-->

    <!--<latest-news></latest-news>-->

    <contact-us></contact-us>

    <!--<ng-include src="'/js/partial/_clients.html'"></ng-include>-->

    <app-footer></app-footer>
</div>
