<section class="page">
    <section id="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>{{ ::vm.jobDetail.title }}</h1>
                    <h4>
                        <span><i class="fa fa-map-marker"></i>{{ ::vm.jobDetail.location.town }}</span>
                        <span><i class="fa fa-clock-o"></i>{{ ::vm.jobDetail.contractType }}</span>
                        <span><i class="fa fa-dollar"></i>{{ ::vm.jobDetail.salary }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <section id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <article>
                        <h2>Job Details</h2>
                        <p  ng-bind-html="::vm.jobDescription"></p>
                        <h3>Requirements</h3>
                        <ul>
                           <li ng-repeat="req in vm.jobDetail.requirements">
                               {{ ::req }}
                           </li>
                        </ul>
                        <h3>Benefits</h3>
                        <ul>
                            <li ng-repeat="benefit in vm.jobDetail.benefits">
                                {{ ::benefit }}
                            </li>
                        </ul>
                        <h3>How to apply</h3>
                        <form name="applyCVForm" ng-if="::!vm.userService.isAuthenticated()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" id="resume-name-group">
                                        <label for="resume-name">Name</label>
                                        <input type="text" class="form-control"
                                               id="resume-name"
                                               required
                                               placeholder="e.g. John Doe"
                                               ng-model="vm.form.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" id="resume-email-group">
                                        <label for="resume-email">Surname</label>
                                        <input type="text" class="form-control"
                                               id="resume-email"
                                               required
                                               placeholder="you@email.com"
                                               ng-model="vm.form.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" id="resume-phone-group">
                                        <label for="resume-phone">Phone Number</label>
                                        <input type="text" class="form-control"
                                               id="resume-phone"
                                               required
                                               placeholder="Enter your phone number"
                                               ng-model="vm.form.telephone" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <file-uploader uploader="vm.uploader" />
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-lg"
                                        ng-disabled="applyCVForm.$invalid && !vm.uploader.queue.length"
                                        ng-click="vm.applyCV()">
                                    Apply Here
                                </button>
                            </div>
                        </form>
                        <form name="applyCVForm2" ng-if="::vm.userService.isAuthenticated()">
                            <div class="row">
                                <file-uploader uploader="vm.uploader" />
                            </div>

                            <div class="row">
                                <button class="btn btn-primary btn-lg"
                                        ng-disabled="!vm.uploader.queue.length"
                                        ng-click="vm.applyCV()">
                                    Apply Here
                                </button>
                            </div>
                        </form>
                    </article>
                </div>
                <div class="col-sm-4" id="sidebar">
                    <div class="sidebar-widget" id="share">
                        <h2>Share this job</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coffeecreamthemes.com/themes/jobseek/site/job-details.html"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/home?status=http://www.coffeecreamthemes.com/themes/jobseek/site/job-details.html"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/share?url=http://www.coffeecreamthemes.com/themes/jobseek/site/job-details.html"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.coffeecreamthemes.com/themes/jobseek/site/job-details.html&amp;title=Jobseek%20-%20Job%20Board%20Responsive%20HTML%20Template&amp;summary=&amp;source="><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <hr>
                    <!--<div class="sidebar-widget" id="company">-->
                        <!--<h2>About this company</h2>-->
                        <!--<p><img src="http://placehold.it/300x109.gif" alt="" class="img-responsive"></p>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique euismod lorem, a consequat orci consequat a. Donec ullamcorper tincidunt nunc, ut aliquam est pellentesque porta. In neque erat, malesuada sit amet orci ac, laoreet laoreet mauris.</p>-->
                        <!--<p><a href="company.html" class="btn btn-primary">Read more</a></p>-->
                    <!--</div>-->
                    <hr>
                    <div class="sidebar-widget" id="company-jobs">
                        <h2>More jobs from this company</h2>
                        <ul>
                            <li><a href="#">Senior Web Designer</a></li>
                            <li><a href="#">Junior System Administrator</a></li>
                            <li><a href="#">Key Account Manager</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
