<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>uk referrals</title>
  <meta name="description" content="app, web app, responsive, responsive layout, /admin, /admin panel, /admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <%if (dev) { %>
        <link rel="stylesheet" href="/admin/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/animate.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/simple-line-icons.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/font.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/app.css" type="text/css" />
        <link rel="stylesheet" href="/admin/css/custom-css.css" type="text/css" />
        <link rel="stylesheet" href="/admin/third-party/angular-loading-bar/build/loading-bar.css" type="text/css" />
        <link rel="stylesheet" href="/admin/third-party/angular-datepicker/dist/index.css" type="text/css" />
        <link rel="stylesheet" href="/admin/vendor/modules/angularjs-toaster/toaster.css" type="text/css" />
    <% } else{ %>
        <link rel="stylesheet" href="/admin/dist/app.min.css" />
    <% } %>

  <base href="/">
</head>
<body ng-controller="AppCtrl">

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

  <div class="app" id="app"
       ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}"
       ui-view>
  </div>



<%if (dev) { %>
    <!-- jQuery -->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>

    <!-- Angular -->
    <script src="/admin/vendor/angular/angular.js"></script>

    <script src="/admin/vendor/moment/moment.js"></script>

    <script src="/admin/vendor/angular/angular-animate/angular-animate.js"></script>
    <script src="/admin/vendor/angular/angular-cookies/angular-cookies.js"></script>
    <script src="/admin/vendor/angular/angular-resource/angular-resource.js"></script>
    <script src="/admin/vendor/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="/admin/vendor/angular/angular-touch/angular-touch.js"></script>
    <script src="/admin/vendor/modules/angularjs-toaster/toaster.js"></script>

    <!-- /admin/vendor -->
    <script src="/admin/vendor/angular/angular-ui-router/angular-ui-router.js"></script>
    <script src="/admin/vendor/angular/ngstorage/ngStorage.js"></script>
    <script src="/admin/third-party/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/admin/third-party/angular-datepicker/dist/index.min.js"></script>

    <!-- bootstrap -->
    <script src="/admin/vendor/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- lazyload -->
    <script src="/admin/vendor/angular/oclazyload/ocLazyLoad.js"></script>
    <!-- translate -->
    <script src="/admin/vendor/angular/angular-translate/angular-translate.js"></script>
    <script src="/admin/vendor/angular/angular-translate/loader-static-files.js"></script>
    <script src="/admin/vendor/angular/angular-translate/storage-cookie.js"></script>
    <script src="/admin/vendor/angular/angular-translate/storage-local.js"></script>

    <!-- App -->
    <script src="/admin/js/app.js"></script>
    <script src="/admin/js/lb-services.js"></script>
    <script src="/admin/js/config.js"></script>
    <script src="/admin/js/config.lazyload.js"></script>
    <script src="/admin/js/config.router.js"></script>
    <script src="/admin/js/main.js"></script>

    <script src="/admin/js/services/userService.js"></script>
    <script src="/admin/js/services/enums.js"></script>
    <script src="/admin/js/services/locations.js"></script>
    <script src="/admin/js/services/constants.js"></script>
    <script src="/admin/js/services/messageService.js"></script>
    <script src="/admin/js/controllers/asideCtrl.js"></script>
    <script src="/admin/js/controllers/jobsCtrl.js"></script>
    <script src="/admin/js/controllers/addEditJobCtrl.js"></script>
    <script src="/admin/js/controllers/applicationCtrl.js"></script>
    <script src="/admin/js/directives/search/search.js"></script>

    <script src="/admin/js/services/ui-load.js"></script>
    <script src="/admin/js/filters/fromNow.js"></script>
    <script src="/admin/js/filters/enumValue.js"></script>
    <script src="/admin/js/directives/setnganimate.js"></script>
    <script src="/admin/js/directives/ui-butterbar.js"></script>
    <script src="/admin/js/directives/ui-focus.js"></script>
    <script src="/admin/js/directives/ui-fullscreen.js"></script>
    <script src="/admin/js/directives/ui-jq.js"></script>
    <script src="/admin/js/directives/ui-module.js"></script>
    <script src="/admin/js/directives/ui-nav.js"></script>
    <script src="/admin/js/directives/ui-scroll.js"></script>
    <script src="/admin/js/directives/ui-shift.js"></script>
    <script src="/admin/js/directives/ui-toggleclass.js"></script>
    <script src="/admin/js/directives/ui-validate.js"></script>
    <script src="/admin/js/controllers/bootstrap.js"></script>
<% } else{ %>
    <script src="/dist//admin/vendor.min.js"></script>
    <script src="/dist/app.min.js"></script>
<% } %>

<!-- Lazy loading -->
</body>
</html>
