<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app.core"> <!--<![endif]-->
<html>
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <meta name="robots" content="index,all,follow" />
    <meta name="googlebot" content="index,all,follow" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="Safe For Kids" />
    <meta name="revisit-after" content="15 Days" />
    <meta name="author" content="Pavlos Polianidis" />
    <meta name="copyright" content="Cyprus Property Finder" />
    <meta name="Description" content="we are cyprus real estates, we have a wide range of cyprus properties for sale, holiday accommodation in cyprus, we sell all sorts of properties in cyprus" />
    <meta name="Keywords" content="cyprus properties, cyprus real estates, properties for sale in cyprus, cyprus holiday accommodation, cyprus properties for sale, cyprus property construction, cyprus property development, cyprus holiday homes, cyprus land developers, cyprus apartments, cyprus villas, cyprus homes, villas for sale in cyprus, apartments for sale in cyprus, cyprus, real estates, properties, for sale, accommodation, villas, apartments, homes, land, developers, holiday" />
    <meta name="abstract" content="find your ideal property in cyprus with cyprus property finder" />

    <title ng-bind="title">uk referals</title>

    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../dist/styles/vendor.min.css" />
    <link rel="stylesheet" href="../dist/styles/app.min.css" />

    <base href="/">
</head>
<body>
<section class="global-wrapper">
    <nav-bar></nav-bar>

    <app-header></app-header>

    <!-- Main content -->
    <main class="main-content" ui-view></main>

    <login></login>
    <register></register>

</section>

<script src="../dist/vendor.min.js"></script>
<script src="../dist/index-1.0.0.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
