<div class="popup" id="register">
    <div class="popup-form">
        <div class="popup-header">
            <a class="close"><i class="fa fa-remove fa-lg"></i></a>
            <h2>Register</h2>
        </div>
        <form name="registerForm">
            <hr>
            <div class="form-group">
                <label for="register-name">Name</label>
                <input type="text" class="form-control" id="register-name" ng-model="vm.form.name" required>
            </div>
            <div class="form-group">
                <label for="register-surname">Surname</label>
                <input type="text" class="form-control" id="register-surname" ng-model="vm.form.surname" required>
            </div>
            <div class="form-group">
                <label for="register-email">Email</label>
                <input type="email" class="form-control" id="register-email" ng-model="vm.form.email" required>
            </div>
            <div class="form-group">
                <label for="register-telephone">Phone Number</label>
                <input type="telephone" class="form-control" id="register-telephone" ng-model="vm.form.telephone" required>
            </div>
            <hr>
            <div class="form-group">
                <label for="register-username">Username</label>
                <input type="text" class="form-control" id="register-username" ng-model="vm.form.username" required>
            </div>
            <div class="form-group">
                <label for="register-password1">Password</label>
                <input type="password" class="form-control" id="register-password1" ng-model="vm.form.password" required>
            </div>
            <div class="form-group">
                <label for="register-password2">Repeat Password</label>
                <input type="password" class="form-control" id="register-password2" ng-model="vm.form.passwordRepeat" required>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="registerForm.$invalid"
                    ng-click="vm.register()">Register</button>
        </form>
    </div>
</div>
