<section id="contact" class="color2 home__section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Drop us a line</h2>
                <form role="form" name="contactForm" id="contact-form">
                    <div class="form-group" id="contact-name-group">
                        <label for="contact-name" class="sr-only">Name</label>
                        <input type="text" class="form-control" id="contact-name" required placeholder="Name" ng-model="vm.form.name">
                    </div>
                    <div class="form-group" id="contact-email-group">
                        <label for="contact-email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="contact-email" required placeholder="Email" ng-model="vm.form.email">
                    </div>
                    <div class="form-group" id="contact-subject-group">
                        <label for="contact-subject" class="sr-only">Subject</label>
                        <input type="text" class="form-control" id="contact-subject" required placeholder="Subject" ng-model="vm.form.subject">
                    </div>
                    <div class="form-group" id="contact-message-group">
                        <label for="contact-message" class="sr-only">Message</label>
                        <textarea class="form-control" rows="3" id="contact-message" required ng-model="vm.form.content"></textarea>
                    </div>
                    <button class="btn btn-default"
                            ng-disabled="contactForm.$invalid"
                            ng-click="vm.send()">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Visit our office</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>New York</h5>
                        <p>5 Park Avenue<br>
                            New York, NY 10016<br>
                            USA</p>
                        <p><i class="fa fa-phone"></i>+1 718.242.5555<br>
                            <i class="fa fa-fax"></i>+1 718.242.5556<br>
                            <i class="fa fa-envelope"></i><a href="mailto:ny@jobseek.com">ny@jobseek.com</a></p>
                        <p><i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm<br>
                            <i class="fa fa-clock-o"></i>Sat 10am - 2pm<br>
                            <i class="fa fa-clock-o"></i>Sun Closed</p>
                    </div>
                    <div class="col-sm-6">
                        <h5>Los Angeles</h5>
                        <p>8605 Santa Monica Blvd<br>
                            Los Angeles, CA 90069-4109<br>
                            USA</p>
                        <p><i class="fa fa-phone"></i>+1 985.562.5555<br>
                            <i class="fa fa-fax"></i>+1 985.562.5556<br>
                            <i class="fa fa-envelope"></i><a href="mailto:la@jobseek.com">la@jobseek.com</a></p>
                        <p><i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm<br>
                            <i class="fa fa-clock-o"></i>Sat 10am - 2pm<br>
                            <i class="fa fa-clock-o"></i>Sun Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
