<footer>
    <div id="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="newsletter">
                    <h2>Newsletter</h2>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="newsletter-email">Email address</label>
                            <input type="email" class="form-control" id="newsletter-email" placeholder="Email address">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                </div>
                <div class="col-sm-6" id="social-networks">
                    <h2>Get in touch</h2>
                    <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="credits">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2015 Jobseek - Responsive Job Board HTML Template<br>
                    Designed &amp; Developed by <a href="http://themeforest.net/user/Coffeecream" target="_blank">Coffeecream Themes</a>
                </div>
            </div>
        </div>
    </div>
</footer>
