<div class="property-images panel panel-default">
    <div class="panel-heading font-bold">
        Images
    </div>
    <ul class="panel-body">
        <li class="img-thumbnail property-image" ng-class="{ 'img-thumbnail-success': img === vm.mainImage }" ng-repeat="img in vm.images">
            <div class="property-image__overlay"></div>
            <img ng-src="{{ ::vm.imageEndpoint + img }}" />
            <i class="fa fa-arrow-left property-image__priority-minus" ng-click="vm.decreaseImgPriority($index)"></i>
            <i class="fa fa-trash property-image__delete-btn" title="Delete this image" ng-click="vm.deleteImageAdapter(img)"></i>
            <i class="fa fa-file-image-o property-image__change-image-btn" title="Set main image for this property" ng-click="vm.setMainImageAdapter(img)"></i>
            <i class="fa fa-arrow-right property-image__priority-plus" ng-click="vm.increaseImgPriority($index)"></i>
        </li>
    </ul>
</div>
