<section id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1>Latest News</h1>
                <h4>Specially crafted job posts everyday</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel">

                    <!-- Blog post 1 -->
                    <div>
                        <img src="http://placehold.it/800x530.jpg" class="img-responsive" alt="Blog Post" />
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>
                            <span><i class="fa fa-calendar"></i>28.08.2015</span>
                            <span><i class="fa fa-comment"></i>8 Comments</span>
                        </h5>
                        <p>Consectetur adipiscing elit. Duis lobortis tincidunt pretium. Suspendisse ullamcorper quis neque quis viverra. Cras ut leo in lectus gravida fringilla. In hac habitasse platea dictumst. Fusce facilisis sapien dolor, non fermentum magna tempus ac. Fusce quis eros sit amet magna aliquam euismod ac eget libero. Fusce accumsan in eros vitae posuere.</p>
                        <p><a href="post.html" class="btn btn-primary">Read more</a></p>
                    </div>

                    <!-- Blog post 2 -->
                    <div>
                        <img src="http://placehold.it/800x530.jpg" class="img-responsive" alt="Blog Post" />
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>
                            <span><i class="fa fa-calendar"></i>28.08.2015</span>
                            <span><i class="fa fa-comment"></i>8 Comments</span>
                        </h5>
                        <p>Consectetur adipiscing elit. Duis lobortis tincidunt pretium. Suspendisse ullamcorper quis neque quis viverra. Cras ut leo in lectus gravida fringilla. In hac habitasse platea dictumst. Fusce facilisis sapien dolor, non fermentum magna tempus ac. Fusce quis eros sit amet magna aliquam euismod ac eget libero. Fusce accumsan in eros vitae posuere.</p>
                        <p><a href="post.html" class="btn btn-primary">Read more</a></p>
                    </div>

                    <!-- Blog post 3 -->
                    <div>
                        <img src="http://placehold.it/800x530.jpg" class="img-responsive" alt="Blog Post" />
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>
                            <span><i class="fa fa-calendar"></i>28.08.2015</span>
                            <span><i class="fa fa-comment"></i>8 Comments</span>
                        </h5>
                        <p>Consectetur adipiscing elit. Duis lobortis tincidunt pretium. Suspendisse ullamcorper quis neque quis viverra. Cras ut leo in lectus gravida fringilla. In hac habitasse platea dictumst. Fusce facilisis sapien dolor, non fermentum magna tempus ac. Fusce quis eros sit amet magna aliquam euismod ac eget libero. Fusce accumsan in eros vitae posuere.</p>
                        <p><a href="post.html" class="btn btn-primary">Read more</a></p>
                    </div>

                    <!-- Blog post 4 -->
                    <div>
                        <img src="http://placehold.it/800x530.jpg" class="img-responsive" alt="Blog Post" />
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>
                            <span><i class="fa fa-calendar"></i>28.08.2015</span>
                            <span><i class="fa fa-comment"></i>8 Comments</span>
                        </h5>
                        <p>Consectetur adipiscing elit. Duis lobortis tincidunt pretium. Suspendisse ullamcorper quis neque quis viverra. Cras ut leo in lectus gravida fringilla. In hac habitasse platea dictumst. Fusce facilisis sapien dolor, non fermentum magna tempus ac. Fusce quis eros sit amet magna aliquam euismod ac eget libero. Fusce accumsan in eros vitae posuere.</p>
                        <p><a href="post.html" class="btn btn-primary">Read more</a></p>
                    </div>

                    <!-- Blog post 5 -->
                    <div>
                        <img src="http://placehold.it/800x530.jpg" class="img-responsive" alt="Blog Post" />
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>
                            <span><i class="fa fa-calendar"></i>28.08.2015</span>
                            <span><i class="fa fa-comment"></i>8 Comments</span>
                        </h5>
                        <p>Consectetur adipiscing elit. Duis lobortis tincidunt pretium. Suspendisse ullamcorper quis neque quis viverra. Cras ut leo in lectus gravida fringilla. In hac habitasse platea dictumst. Fusce facilisis sapien dolor, non fermentum magna tempus ac. Fusce quis eros sit amet magna aliquam euismod ac eget libero. Fusce accumsan in eros vitae posuere.</p>
                        <p><a href="post.html" class="btn btn-primary">Read more</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
