<form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search">
    <div class="form-group">
        <div class="input-group">
            <input type="text"
                   id="search-text"
                   class="form-control input-sm bg-light no-border rounded padder"
                   placeholder="Search by ref number..."
                   ng-model="vm.query" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search" ng-click="vm.search()"></i></button>
            </span>
        </div>
    </div>
</form>