<section class="add-property-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">{{ ::addEditJobCtrl.mode === 'new' ? 'Add New Job' : 'Edit Job' }}</h1>
    </div>

    <div class="wrapper-md">
        <div class="row">
            <form name="addEditJobForm" class="form-validation">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">
                            Basic Information
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input name="title" type="text" class="form-control"
                                           placeholder="Enter the job title"
                                           tabindex="1"
                                           required
                                           ng-model="addEditJobCtrl.newJob.title" />
                                </div>

                                <div class="form-group">
                                    <label>Company</label>
                                    <input name="company" type="text" class="form-control"
                                           tabindex="3"
                                           placeholder="Enter the company name"
                                           ng-model="addEditJobCtrl.newJob.company" />
                                </div>

                                <div class="form-group">
                                    <label>Category</label>
                                    <select name="jobCategory" class="form-control m-b"
                                            required
                                            tabindex="5"
                                            ng-options="value.value as value.label for (key, value) in addEditJobCtrl.enums.categories"
                                            ng-model="addEditJobCtrl.newJob.category">
                                        <option value="" selected>Please Select...</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label>Contact Type</label>
                                    <select name="contractType" class="form-control m-b"
                                            tabindex="7"
                                            ng-options="value.value as value.label for (key, value) in addEditJobCtrl.enums.contractTypes"
                                            ng-model="addEditJobCtrl.newJob.contractType">
                                        <option value="" selected>Please Select...</option>
                                    </select>
                                </div>

                                <div class="checkbox">
                                    <label class="i-checks">
                                        <input name="sold" type="checkbox" class="form-control"
                                               tabindex="9"
                                               ng-model="addEditJobCtrl.newJob.available" />
                                        <i></i>Available</label>
                                </div>
                                <div class="form-group">
                                    <label>Requirements (multiple values separated with a newline)</label>
                                    <textarea name="requirements"  cols="30" rows="5"
                                              class="form-control"
                                              tabindex="11"
                                              required
                                              ng-model="addEditJobCtrl.newJob.requirements">
                                        Add each requirement in a new line
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Salary</label>
                                    <input name="salary" type="text" class="form-control"
                                           required
                                           tabindex="2"
                                           placeholder="Enter Salary"
                                           ng-model="addEditJobCtrl.newJob.salary" />
                                </div>

                                <div class="form-group">
                                    <label>Town</label>
                                    <input name="town" type="text" class="form-control"
                                           required
                                           tabindex="4"
                                           placeholder="Enter Town"
                                           ng-model="addEditJobCtrl.newJob.location.town" />
                                </div>

                                <div class="form-group">
                                    <label>Postcode</label>
                                    <input name="postcode" type="text" class="form-control"
                                           required
                                           tabindex="6"
                                           placeholder="Enter Postcode"
                                           ng-model="addEditJobCtrl.newJob.location.postcode" />
                                </div>
                                <div class="form-group">
                                    <label>Benefits (multiple values separated with a newline)</label>
                                    <textarea name="benefits"  cols="30" rows="5"
                                              class="form-control"
                                              tabindex="8"
                                              required
                                              ng-model="addEditJobCtrl.newJob.benefits">
                                        Add each benefit in a new line
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">
                            Further Details
                        </div>
                        <div class="panel-body">
                            <div oc-lazy-load="textAngular">
                                <div text-angular ng-model="addEditJobCtrl.newJob.description" class="btn-groups"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="pull-right btn m-b-xs w-xs btn-primary"
                    ng-disabled="addEditJobForm.$invalid"
                    ng-click="addEditJobCtrl.save(addEditJobForm.$invalid)">
                Save
            </button>
        </div>
    </div>
</section>
