<section class="properties-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Answered User Questions</h1>
    </div>

    <div class="wrapper-md">
        <ul class="list-group alt">
            <div role="alert" ng-show="!vm.messages.length">There are no answered messages in the system</div>
            <li class="list-group-item" ng-repeat="message in vm.messages">
                <a ng-href="{{ ::'/app/answers/' + message.id }}" title="Answer this question">
                    <div class="media property-list-item">
                        <strong class="pull-left">{{ ::message.name }}</strong>
                        <span>{{ ::vm.getFormattedDate(message.createdOn) }}</span>

                        <div class="pull-right text-danger m-t-sm">
                            <i class="fa fa-circle"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li ng-repeat="index in vm.pageRange track by $index" ng-class="{ 'active': $index + 1 == vm.currentPage }">
                    <a ng-click="vm.changePage($index + 1)">{{ ::$index + 1 }}</a>
                </li>

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>