<section class="properties-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Question from <strong>{{ ::vm.question.name }}</strong></h1>
        <br/>
        <p>{{ ::vm.question.content }}</p>
    </div>

    <div class="wrapper-md">
        <form name="answerQuestionForm">
            <div class="form-group">
                <textarea name="answer" type="text" class="form-control"
                        rows="20"
                        required
                        placeholder="Enter your answer"
                        ng-model="vm.answer" >
                </textarea>
            </div>
            <div>
                <button class="pull-right btn m-b-xs w-xs btn-primary"
                        ng-disabled="answerQuestionForm.$invalid"
                        ng-click="vm.save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</section>