<section class="applications-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">

    <div class="wrapper-md">
        <div class="panel panel-success">
            <div class="panel-heading">
                applications ({{ ::applicationCtrl.applicationsCount }})
            </div>
            <ul class="list-group alt">
                <div role="alert" ng-show="!applicationCtrl.applications.length">There are no applications in the system</div>
                <li class="list-group-item" ng-repeat="application in applicationCtrl.applications">
                    <div class="media application-list-item">
                        <a class="pull-left" title="Update this application">
                            {{ application.name }}
                        </a>
                        <a class="pull-left" target="_blank" ng-href="{{ ::'job/' + application.jobId }}" title="View job application">
                            Job
                        </a>
                        <div class="pull-right m-t-sm">
                            <i class="fa fa-trash application__delete-btn" title="Delete this application" ng-click="applicationCtrl.deleteApplication(application.id)"></i>
                        </div>
                        <a class="pull-right m-t-sm" target="_blank" ng-href="{{ ::'cvs/download/' + application.cv }}">
                            <i class="fa fa-caret-square-o-down" title="Download"></i>
                        </a>
                        <div class="media-body">
                            <div>{{ ::application.telephone }}, {{ ::application.email }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li ng-repeat="index in applicationCtrl.pageRange track by $index" ng-class="{ 'active': $index + 1 == applicationCtrl.currentPage }">
                    <a ng-click="applicationCtrl.changePage($index + 1)">{{ ::$index + 1 }}</a>
                </li>

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
