<section class="jobs-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">

    <div class="wrapper-md">
        <div class="panel panel-success">
            <div class="panel-heading">
                jobs ({{ ::jobsCtrl.jobsCount }})
            </div>
            <ul class="list-group alt">
                <div role="alert" ng-show="!jobsCtrl.jobs.length">There are no jobs in the system</div>
                <li class="list-group-item" ng-repeat="job in jobsCtrl.jobs">
                    <div class="media job-list-item">
                        <a class="pull-left" ng-href="{{ ::'admin/jobs/' + job.id }}" title="Update this job">
                            {{ job.title }}
                        </a>
                        <div class="pull-right text-success m-t-sm" ng-show="job.available" title="This is an available job">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="pull-right text-danger m-t-sm" ng-show="!job.available" title="This is not anavailable job">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="pull-right m-t-sm">
                            <i class="fa fa-trash job__delete-btn" title="Delete this job" ng-click="jobsCtrl.deleteJob(job.id)"></i>
                        </div>
                        <div class="media-body">
                            <div>{{ ::job.category }}, {{ ::job.location.town }}</div>
                            <small class="text-muted">Contract type: {{ ::job.contractType }}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li ng-repeat="index in jobsCtrl.pageRange track by $index" ng-class="{ 'active': $index + 1 == jobsCtrl.currentPage }">
                    <a ng-click="jobsCtrl.changePage($index + 1)">{{ ::$index + 1 }}</a>
                </li>

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
