<section class="properties-page"  ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Question from <strong>{{ ::vm.question.name }}</strong></h1>
        <br/>
        <p>{{ ::vm.question.content }}</p>
    </div>

    <div class="wrapper-md">
        <h2 class="m-n font-thin h3">Question Answered on <strong>{{ ::vm.getFormattedDate() }}</strong></h2>
        <br/>
        <p>{{ ::vm.question.response }}</p>
    </div>
</section>