<section id="pricing" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Plans &amp; Pricing</h1>
                <h4>Choose a package that fits your needs</h4>
            </div>
        </div>
        <div class="row pricing">
            <div class="col-sm-3">
                <ul>
                    <li class="title">Free</li>
                    <li class="price">$0</li>
                    <li>1 job posting</li>
                    <li>No featured jobs</li>
                    <li>Displayed for 5 days</li>
                    <li><a href="post-a-job.html" class="btn btn-primary">Choose</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="popular">
                    <li class="title">Startup</li>
                    <li class="price">$19</li>
                    <li>1 job posting</li>
                    <li>No featured jobs</li>
                    <li>Displayed for 30 days</li>
                    <li><a href="post-a-job.html" class="btn btn-primary">Choose</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li class="title">Company</li>
                    <li class="price">$29</li>
                    <li>3 job postings</li>
                    <li>No featured jobs</li>
                    <li>Displayed for 60 days</li>
                    <li><a href="post-a-job.html" class="btn btn-primary">Choose</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li class="title">Enterprise</li>
                    <li class="price">$39</li>
                    <li>5 job postings</li>
                    <li>3 featured jobs</li>
                    <li>Displayed for 90 days</li>
                    <li><a href="post-a-job.html" class="btn btn-primary">Choose</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
