<header>
    <div id="header-background"></div>
    <div class="container">
        <div class="pull-left">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt="Jobseek - Job Board Responsive HTML Template" /></a></div>
        </div>
        <div id="menu-open" class="pull-right">
            <a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
        </div>
        <div class="pull-right">
            <meteor-include src="loginButtons"></meteor-include>
        </div>
        <div id="login-status" class="pull-right" ng-if="vm.currentUser">
            Welcome, {{ ::vm.currentUser.name }} {{ ::vm.currentUser.surname }}
        </div>
        <div id="searchbox" class="pull-right">
            <form>
                <div class="form-group">
                    <label class="sr-only" for="searchfield">Searchbox</label>
                    <input type="text" class="form-control" id="searchfield" placeholder="Type keywords and press enter">
                </div>
            </form>
        </div>
        <div id="search" class="pull-right">
            <a><i class="fa fa-search fa-lg"></i></a>
        </div>
    </div>
</header>
