/** Mine **/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.property-image {
    position: relative;
}

.property-image__overlay {
    position: absolute;
    width: 100px;
    height: 67px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.property-image:hover .property-image__overlay,
.property-image:hover .property-image__delete-btn,
.property-image:hover .property-image__change-image-btn,
.property-image:hover .property-image__priority-minus,
.property-image:hover .property-image__priority-plus {
    display: block;
}

.property-image__delete-btn,
.property-image__change-image-btn,
.property-image__priority-minus,
.property-image__priority-plus{
    cursor: pointer;
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFF;
    font-size: 1.5em;
}

.property-image__change-image-btn {
    top: 40%;
}

.property-image__priority-minus {
    top: 50%;
    left: 15%;
}

.property-image__priority-plus {
    top: 50%;
    left: 80%;
}

.property-list-item {
    overflow: hidden;
}

.img-thumbnail.property-image img {
    width: 100px;
    height: 67px;
}

.img-thumbnail-success {
    border: 1px solid #0FC35C;
}

.property__delete-btn {
    cursor: pointer;
}

.add-town-page .input-btn {
    width: 60%;
    margin-right: 10px;
}