body {
    margin: 0;
    padding-top: 20px;
}

.main-content {
    padding: 50px;
}

.logo {
    width: 100%;
}

@media print {
    body {
        margin: 0 !important;
        font-size: 26px;
    }

    .footer {
        font-size: 20px;
        padding: 20px 0;
        color: #0b78ff;
        position: absolute;
        top: 1500px;
        text-align: center;
    }

    .footer--page2 {
        top: 3050px;
    }
}

.header {
    margin-bottom: 20px !important;
}


.header img {
    margin: 20px 0;
}


.right {
    float: right;
}

.image-row--second .grid__cell {
    padding-top: 20px;
}

.location-title {
    font-size: 40px;
    font-weight: bold;
}

.price-container {
    margin: 20px 0 !important;
}

.price {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.feature-list{
    width: 90% !important;
    margin: 0 auto !important;
}

/* Grid */

.grid__table {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: table;

    border-collapse: separate;
}

.grid__row {
    width: 100%;
    display: table-row;
}

.grid__data {
    position: relative;
    padding: 0.75rem;
    text-align: center;
}

.grid__header,
.grid__cell--simple,
.grid__cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.grid__table-caption {
    display: table-caption;
    caption-side: bottom;
}

li {
    text-align: left;
}
