<section id="jobs" class="home__section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Recent Jobs</h2>

                <ul class="jobs">
                    <!-- Job offer 1 -->
                    <li ng-repeat="job in vm.recentJobs">
                        <a ui-sref="jobDetail({ id: job.id })">
                            <div class="featured"></div>
                            <div class="title">
                                <h5>{{ ::job.title }}</h5>
                                <p>{{ ::job.company }}</p>
                            </div>
                            <div class="data">
                                <span class="city"><i class="fa fa-map-marker"></i>{{ ::job.location.town }}</span>
                                <span class="type full-time"><i class="fa fa-clock-o"></i>{{ ::job.contractType }}</span>
                                <span class="sallary"><i class="fa fa-dollar"></i>{{ ::job.salary }}</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <!--<a class="btn btn-primary" id="more-jobs">-->
                    <!--<span class="more">Show More Jobs <i class="fa fa-arrow-down"></i></span>-->
                    <!--<span class="less">Show Less Jobs <i class="fa fa-arrow-up"></i></span>-->
                <!--</a>-->

            </div>
            <!--<div class="col-sm-4">-->
                <!--<h2>Featured Jobs</h2>-->
                <!--<a href="#">-->
                    <!--<img src="http://placehold.it/400x265.jpg" alt="Featured Job" class="img-responsive" />-->
                    <!--<div class="featured-job">-->
                        <!--<div class="title">-->
                            <!--<h5>Web Designer</h5>-->
                            <!--<p>Amazon</p>-->
                        <!--</div>-->
                        <!--<div class="data">-->
                            <!--<span class="city"><i class="fa fa-map-marker"></i>New York City</span>-->
                            <!--<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>-->
                            <!--<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>-->
                        <!--</div>-->
                        <!--<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique euismod lorem, a consequat orci consequat a. Donec ullamcorper tincidunt nunc, ut aliquam est pellentesque porta. In neque erat, malesuada sit amet orci ac, laoreet laoreet mauris.</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>
