<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-edit"></i>
            <span class="font-bold" translate="aside.nav.JOBS">Jobs</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="aside.nav.JOBS">Jobs</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.jobs">
                    <span>View All</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.addJob">
                    <span>New</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a ui-sref="app.applications">
       <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
          <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
            <i class="fa fa-file-image-o"></i>
            <span class="font-bold" translate="aside.nav.APPLICATIONS">Applications</span>
        </a>
    </li>

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-question-sign icon"></i>
            <span class="font-bold" translate="aside.nav.USER_QUESTIONS">User Question</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="aside.nav.USER_QUESTIONS">Question</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.unansweredQuestions">
                    <span>Unanswered</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.answeredQuestions">
                    <span>Answered</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->
